<div class="text-center">
  <h1 class="mb-4">New Task for <%= @todo_list.title %></h1>
</div>

<%= render 'form' %>

<div class="text-center mt-3">
  <%= link_to 'Back', todo_list_path(@todo_list), class: 'btn btn-secondary' %>
</div>
