<div class="container mt-4 text-center">
  <h1 class="mb-3">Your To-Do Lists</h1>
  <%= link_to 'Create a New To-Do List', new_todo_list_path, class: 'btn btn-primary mb-4' %>

  <% if @todo_lists.any? %>
    <ul class="list-group mx-auto" style="max-width: 600px;">
      <% @todo_lists.each do |todo_list| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center" style="gap: 23rem;">
            <h5 class="mb-0">
              <%= link_to todo_list.title, todo_list_path(todo_list), class: "text-decoration-none text-dark" %>
            </h5>
            <% if todo_list.user == current_user %>
              <span class="badge bg-success">Owner</span>
            <% else %>
              <span class="badge bg-info">Shared with You</span>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-muted mt-3">You don’t have any to-do lists yet.</p>
  <% end %>
</div>
